@using Microsoft.AspNetCore.Mvc.Localization
@using Ewinner.ManageSystem.Localization
@inject IHtmlLocalizer<ManageSystemResource> L
<a class="nav-link" role="button" href="~/Account/Login">@L["Login"]</a>
